@page "/"

<Div>
    <Table Striped>
        <TableHeader>
            <TableRow>
                <TableHeaderCell>#</TableHeaderCell>
                <TableHeaderCell>Autor</TableHeaderCell>
                <TableHeaderCell>Tytuł</TableHeaderCell>
                <TableHeaderCell>Liczba stron</TableHeaderCell>
                <TableHeaderCell>Czy wypożyczona</TableHeaderCell>
                <TableHeaderCell>Imię wyp.</TableHeaderCell>
                <TableHeaderCell>Nazwisko wyp.</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var book in Books)
            {
                <TableRow @key="@book.Id">
                    <TableRowHeader>@book.Id</TableRowHeader>
                    <TableRowCell>@book.Author</TableRowCell>
                    <TableRowCell>@book.Title</TableRowCell>
                    <TableRowCell>@book.PageCount</TableRowCell>
                    <TableRowCell>@book.IsBorrowed</TableRowCell>
                    <TableRowCell>@book.Borrower?.FirstName</TableRowCell>
                    <TableRowCell>@book.Borrower?.LasttName</TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
</Div>